:host{
    color:#626575;
    --primaryColor: #001639;
    --secondaryColor: #9735e1;
    --warningColor: #c1a60e;
    --bannedColor:#e41d0b;
    --frozenColor:#dbe133fe;
}
.slds-modal__content{
    text-align: center;
}