:host{
    color:#626575;
    --primaryColor: #001639;
    --secondaryColor: #9735e1;
}

lightning-button {
    --lwc-brandAccessible: var(--primaryColor);
    --lwc-brandAccessibleActive: var(--primaryColor);;
    --lwc-buttonBorderRadius: 15px;
    --lwc-borderWidthThin: 1px;
    font-weight: 700;
}

.filterClass {
    margin-top: 10px;
    margin-left: 10px;
}