lightning-button{
    --lwc-brandAccessible: var(--primaryColor);
    --lwc-brandAccessibleActive: var(--primaryColor);;
    --lwc-buttonBorderRadius: 15px;
    --lwc-borderWidthThin: 1px;
    font-weight: 700;
}