.my-card {
    display: block;
}
.box-border { border : 2px solid rgb(12, 10, 10); height:15rem; width:24rem}

.input-style {margin-bottom: 2px;}
.midle-style {width:5rem;}
.xhover {
    --lwc-colorBackgroundRowHover: rgba(9, 80, 161, 0.911);
    background-color: rgba(9, 80, 161, 0.911);
    color : white}
lightning-button{
    --lwc-brandAccessible: var(--primaryColor);
    --lwc-brandAccessibleActive: var(--primaryColor);;
    --lwc-buttonBorderRadius: 15px;
    --lwc-borderWidthThin: 1px;
    font-weight: 700;
 }