.navigation {
    text-align: center;
    font-size:  larger;
    padding-top: 80px;   
}

.title {
    font-size:  x-large;
    padding-top: 50px; 
    margin-bottom: 10px;  
}

.title:hover {
    cursor: pointer;  
}

.NewsData{
    --lwc-spacingSmall: 0px;
}