.footer{ 
    bottom: 50px;
    right: 15px;
    position: fixed;
    cursor: pointer;
}



.otherLang{
    bottom: 120px;
    right: 15px;
    position: fixed;
    background-color: darkslategray;
    border-radius: 20px;
    color: white;
    width: 200px;
    padding: 10px;
}

.footerLang{
    cursor: pointer;
    margin-bottom: 5px;
}

.footerLang:hover{
    background-color: black;
    border-radius: 10px;

}
.flags{
    clip-path: ellipse(30% 50%);
    height: 50px;
}