.inputContainer{
    margin-bottom: 10px;
    padding: 12px;
    background-color: #ffffff;
    border: 1px solid #ccc;
    border-radius: 2px;
}
.container{
    width: 100%;
}
.ht{
    text-align: center;    font-size: 25px;
            font-weight: bold;
            color: beige;
            
}
.pa{
    text-align: center;    
    padding-top: 20px; 
    padding-bottom: 20px;  
    font-style: italic; 
    color: white; 
    font-family: sans-serif;
    font-weight: lighter;
}
.finalMessage{
    text-align: center;    
    padding-top: 20px; 
    padding-bottom: 20px;  
    color: green; 
    background-color: #ffffff;
    font-family: sans-serif;
    font-weight: lighter;
}
.inputIcon{
    color: var(--lwc-colorTextPlaceholder,rgba(0, 22, 57, 0.72));
    font-size: 20px;
    float: left;
}



.inputBox {
    margin-left: 10px;
    margin-top: 3px;
    /* border: 0 solid transparent; */
    width: 80%;
    /* height: 70px; */
    -webkit-appearance: none;
    padding: 1px 4px;
    /* line-height: normal; */
    min-height: unset;
}

.uiButton {
    width: 100%;
    margin-top: 5px;
    margin-bottom: 15px;
    color: var(--lwc-colorTextButtonBrand,rgba(251, 251, 251, 0.96));
    cursor: pointer;
    background-color: #0070d2;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 10px 12px;
    font-size: 16px;
    font-family: var(--lwc-fontFamily,sans-serif);
    font-weight: 700;
    line-height: 1.42857143;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    outline: none;
}