:host{
    color:#626575;
    --primaryColor: #001639;
    --secondaryColor: rgb(3 45 96);
    --warningColor: #c1a60e;
    --bannedColor:#f8a202fe;
    --frozenColor:#62f70cfe;
}
.marginTop{
    margin-top:-5px;
}
.soloStyle{
    margin-top:-16px;margin-bottom: -16px; border-top: 2px solid orange; border-bottom: 2px solid orange;
}
.layoutStyle{
    margin-top: -68px;margin-right: -27px;
}