.listStyle li{
    border-bottom: 1px solid blue;
    border-radius: 12px;
    text-align: center;
    text-transform: uppercase;

}

.listStyle li:hover{
    text-decoration: underline;
    font-size: 150%;
}