/*.box-border { border : 2px solid rgb(12, 10, 10);height:8rem; width:34rem;background-color: rgb(227, 228, 238);border-radius: 5px;} 
.h1-style {font-size: 30px;color: rgb(247, 247, 252, 0.925);font-weight: bold;background-color: rgb(0, 15, 89);border-radius: 4px 4px 0px 0px;}*/
.c-container {
    border: 1px solid #d8dde6;
    margin: 10px 0 20px 0; 
}
.header-column {
    padding: 0 2rem;
}
.field-title {
    font-size: .75rem;
    line-height: 1.25;
    color: #54698d;
    margin-bottom: .25rem;
}
.custom-box {
    text-align: center;
    background-color: #f4f6f9;
    padding: 10px;
    border: 1px solid #d8dde6;
    width: 300px;
}
.slds-card__footer-action{
    text-align: center;
}
.slds-card__footer{
    border-top: 1px solid #54698d;
}