.btn{
    display:inline-block;
    border:#666 1px solid;
    margin:2px;
    font-size:24px;
    cursor:pointer;
    width:50px;
    height:50px;
    border-radius:50%;
    border-color: white;
    color: white;
    display: block;
}
button.btn:hover{
    font-size: 30px;
}
.label{
    font-size: 12px;
    display: block;
    margin-left: 12px;
}
.container{
    border:black 1px solid;
    background-color: white;
    border-radius: 5px;
    padding: 10px;
}

.positionnement{
    display: flex;
    flex-flow: row wrap;
    column-gap: 25px;
    justify-content: space-between;
}